/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

/*********** Menu Labels **************/
.menu_label {
  float: right;
  width: 120px;
  padding: 3px;
  text-align: center;
  border: 3px solid black;
}
#chicken {
  background-color: #6B953D;
  color: white;
}
#beef {
  background-color: #1E6CB2;
}
#sushi {
  background-color: #E31863;
}

/*****************Menu Description **************/
.menu_description{
  background-color: #949191;
  margin: auto;
  height: 200px;
  float: left;
  padding:3px;
  display: flex;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  border: 5px;
  background-color: yellow;
}

/********** desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid #008000;
    background-color: black;
    position: relative;
    padding: 3px;
    margin: auto;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,  .col-md-12 {
    float: left;
    border: 1px solid #008000;
    background-color: #000000;
        position: relative;
    padding: 3px;
    margin: auto;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** mobile devices only **********/
@media (max-width: 767px) {
.col-sm-12 {
  float: left;
  border: 1px solid #008000;
  background-color: #000000;
  position: relative;
    padding: 3px;
    margin: auto;
  }
  .col-sm-12 {
    width: 100%;
  }
}
