/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

.menu_label {
  float: right;
  width: 30%;  // this does not work in stetched out one. this will have to be fixed width
  margin: auto;
  padding: 3px;
  text-align: center;
  border: 1px solid black;
}

.menu_description{
  background-color: #949191;
}

#chicken {
  background-color: #ff0000;
  color: white;

}
#beef {
  background-color: #ffa500;

}
#sushi {
  background-color: #5f9ea0;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid #008000;
    background-color: black;
    position: relative;

  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,  .col-md-12 {
    float: left;
    border: 1px solid green;
    background-color: black;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** mobile devices only **********/
@media (max-width: 767px) {
.col-sm-12 {
    float: left;
    border: 1px solid green;
  background-color: black;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/*** colors ***/
/* As hex codes */   

.color-primary-0 { color: #6B953D }	/* Main Primary color */
.color-primary-1 { color: #86EA19 }
.color-primary-2 { color: #7CBF34 }
.color-primary-3 { color: #4D5F3A }
.color-primary-4 { color: #282D22 }

.color-secondary-1-0 { color: #304F6B }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #1E6CB2 }
.color-secondary-1-2 { color: #2C5D89 }
.color-secondary-1-3 { color: #2B3844 }
.color-secondary-1-4 { color: #191D20 }

.color-secondary-2-0 { color: #A59643 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFDD1B }
.color-secondary-2-2 { color: #D3BC39 }
.color-secondary-2-3 { color: #696340 }
.color-secondary-2-4 { color: #313026 }

.color-complement-0 { color: #8F3B5A }	/* Main Complement color */
.color-complement-1 { color: #E31863 }
.color-complement-2 { color: #B83263 }
.color-complement-3 { color: #5C3845 }
.color-complement-4 { color: #2B2125 }
